@use "sass:math"

@import "../../styles/sizes"
@import "../../styles/colors"
@import "../../styles/mixins"

.container
	@include column(flex-start, stretch, nowrap, 0)
	background-color: rgba($color-secondary, .5)
	animation: FadeGrey 3s ease-in-out infinite
	padding: var(--padding)

	&.text
		border-radius: 0
	&.rect
		border-radius: var(--radius)
	&.circle
		border-radius: 50%

@keyframes FadeGrey
	0%
		background-color: rgba($color-secondary, .5)
	50%
		background-color: rgba($color-grey, .5)
	100%
		background-color: rgba($color-secondary, .5)
